@{
    ViewBag.Title = "Edit Contact";
}
@model MVCAssignment.Models.ContactsViewModels
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

<h4 id="id1" style="color:purple"></h4>
<hr />

@using (Ajax.BeginForm("Update", "Contacts", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "id1",
    LoadingElementId = "LoadingImage",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure"

}))
{

    <div class="row">
        @Html.HiddenFor(m => m.Id)
        <div class="col-md-8">
            <section id="AddContactForm">
                <div class="form-group">
                    <div class="col-md-10">
                        First Name:  @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        Last Name:  @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        Number of Computers:  @Html.EditorFor(m => m.NumberOfComupters, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        Birth Date:  @Html.EditorFor(m => m.BirthDate, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        Email Address:  @Html.EditorFor(m => m.EmailAddress, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Edit Contact" class="btn btn-info" />
                    </div>
                </div>
            </section>
        </div>
    </div>


}
<script type="text/javascript">

    function OnSuccess(data) {
        if (data.isRedirect) {
            window.location.href = data.redirectUrl;
        }
     }
    function OnFailure(data) {
        alert('HTTP Status Code: ' + data.param1 + '  Error Message: ' + data.param2);
     }
</script>  
