
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@model List<MVCAssignment.Models.ContactsViewModels>


@using (Ajax.BeginForm("Search", "Contacts", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "id1",
    LoadingElementId = "LoadingImage",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure"

}))
{

    <div class="row">
        <div class="col-md-8">
            <section id="AddContactForm">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBox("search")
                    </div>
                </div>
               
                
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Search" class="btn btn-info" />
                    </div>
                </div>
            </section>
        </div>
    </div>


}

<div class="col-md-offset-10 col-md-2">
    <p><span class="glyphicon glyphicon-plus"></span>@Html.ActionLink("Add Contact", "AddContact") </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Number of Computers</th>
            <th scope="col"></th>
            <th scope="col"></th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>

                <td>@Html.DisplayFor(model => item.Id)</td>
                <td>@Html.DisplayFor(model => item.FirstName)</td>
                <td>@Html.DisplayFor(model => item.LastName)</td>
                <td>@Html.DisplayFor(model => item.EmailAddress)</td>
                <td>@Html.DisplayFor(model => item.BirthDate)</td>
                <td>@Html.DisplayFor(model => item.NumberOfComupters)</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "delete-link" })</td>
                <td> @Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>


            </tr>

        }
    </tbody>
</table>

<div id="delete-dialog" title="Confirmation">
    <p>Are you sure you want to delete this Brand?</p>
</div>	
